<nav class="nav justify-content-end">
  <%= link_to "Logout", logout_path, class: "nav-link", method: :delete %>
  <%= link_to "Login", login_path, class: "nav-link" %>
  <a class="nav-link" href=""></a>
</nav>
